Blotato Blog Post.json
{
  "name": "Blotato Blog Post",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "07b884ad-fb62-4d88-b6ef-f33171c0a35f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "0edb5263-a7a3-4611-b1de-dac3a5df477a",
      "name": "Webhook",
      "webhookId": "07b884ad-fb62-4d88-b6ef-f33171c0a35f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bytesizedsecurity.replit.app/api/v1/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a1b2c3d4e5f6789012345678901234567890abcdef1234567890fedcba0987654321"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ JSON.stringify($json.output.title) }},\n  \"content\": {{ JSON.stringify($('Webhook').first().json.body.text) }},\n  \"excerpt\": {{ JSON.stringify($json.output.excerpt) }},\n  \"imageUrl\": {{ JSON.stringify($('Webhook').first().json.body.mediaUrls[0]) }},\n  \"category\": \"Cybersecurity\",\n  \"tags\": {{ JSON.stringify($json.output.tags) }},\n  \"published\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        0
      ],
      "id": "49e5d961-a3d8-4874-8917-e3f4885a6e21",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this blog post content and create an engaging title, excerpt, and tags:\n\n{{ $json.body.text }}\n\nRequirements:\n- Title: Catchy, clickable, under 60 characters, optimized for engagement\n- Excerpt: 2-3 compelling sentences that hook the reader, under 160 characters\n- Tags: 2-3 relevant tags that capture the main topics/themes (as an array)\n\nReturn your response as valid JSON in this exact format:\n{\n  \"title\": \"Your title here\",\n  \"excerpt\": \"Your excerpt here\",\n  \"tags\": [\"tag1\", \"tag2\", \"tag3\"]\n}\n\nImportant: Respond with ONLY the JSON object, no explanations or additional text.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "2595dfa9-873c-466e-915f-2027c1e3c0cb",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        192
      ],
      "id": "24c7a5bb-d134-43a3-9e09-692f6c27e0b1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Zoio14rz2rCqVeXG",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"An engaging, clickable title for the blog post (under 60 characters)\"\n    },\n    \"excerpt\": {\n      \"type\": \"string\",\n      \"description\": \"A compelling excerpt that hooks the reader (2-3 sentences, under 160 characters)\"\n    },\n    \"tags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"minItems\": 2,\n      \"maxItems\": 3,\n      \"description\": \"2-3 relevant tags that capture the main topics/themes of the blog post\"\n    }\n  },\n  \"required\": [\"title\", \"excerpt\", \"tags\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        512,
        224
      ],
      "id": "2835f201-c2e4-4e21-ae26-5e6037f22344",
      "name": "Structured Output Parser1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "26789e93-58a5-4c65-9a4c-7c2db8dc4488",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2229f07adad0e437dd2f5c83ed1aaa999a295881910ac526d2c75560babf2b41"
  },
  "id": "hQmriJSoiz41JeSm",
  "tags": []
}